# Wprowadzenie do Python (część 2)

## Wyjątki

Wyjątki to błędy, które mogą pojawić się podczas wykonania programu. Po wystąpieniu wyjątku program jest przerywany i wznawiany w miejscu, w którym przewidziano obsługę błędu.

In [157]:
class MyException():
    pass

def divide(x, y):
    try:
        if x == 0:
            raise ZeroDivisionError('ojej')
        result = x / y
        raise MyException
        print("divided")
    except(ZeroDivisionError, TypeError) as e:
        print("zero or type")
        print(e)
        print(str(e))
        print(repr(e))
    except Myexception:
        pass
    else:
        print("result = ", result)
    finally:
        print("good bye")

In [23]:
def divide(x, y):
    try:
        result = x / y
        print("divided")
    except ZeroDivisionError:
        print("zero")
    else:
        print("result = ", result)
    finally:
        print("good bye")

In [158]:
divide(1, 2)

zero or type
exceptions must derive from BaseException
exceptions must derive from BaseException
TypeError('exceptions must derive from BaseException',)
good bye

In [159]:
divide(1, 0)

zero or type
division by zero
division by zero
ZeroDivisionError('division by zero',)
good bye

### Zadanie

Zmodyfikuj funkcję divide, aby obsłużyć nowy wyjątek.

In [26]:
def divide(x, y):
    try:
        result = x / y
        print("divided")
    except ZeroDivisionError:
        print("zero")
    except TypeError:
        print("TypeError string zamiast liczby")
    else:
        print("result = ", result)
    finally:
        print("good bye")

In [27]:
divide('a', 1)

TypeError string zamiast liczby
good bye

## Klasy

Python umożliwia programowanie obiektowe. Możliwe jest dziedziczenie. Wszystkie składowe klasy są publiczne, a funkcje podlegają wirtualizacji.

In [43]:
class Calculator():
    static_value = 1

    def __init__(self, base_value):
        self.class_value = base_value
        
    def sum(self, value):
        return self.static_value + self.class_value + value

In [44]:
a = Calculator(1)
print(Calculator.static_value)
print(a.class_value)
print(a.sum(1))

1
1
3

In [40]:
b = Calculator(10)
print(Calculator.static_value)
print(b.class_value)
print(b.sum(5))

1
10
16

In [45]:
class SuperCalculator(Calculator):
    def __init__(self, base_value):
        Calculator.static_value = 10
        super().__init__(base_value)
        self.class_value += 1
        
    def sum(self, value):
        return self.static_value + self.class_value + value * 2

In [48]:
b = SuperCalculator(1)
c = SuperCalculator(2)
print(SuperCalculator.static_value)
print(b.static_value)
print(c.static_value)
print(b.class_value)
print(b.sum(1))

10
10
10
2
14

### Zadanie

Utwórz klasę Person przechowującą imię i nazwisko wraz z metodą drukującą dane osoby w formacie Imię NAZWISKO (bez względu jak zostały wcześniej ustawione). Utwórz obiekt nowej klasy i wywołaj jego metodę. Wskazówka: skorzystaj z `title()` i `upper()`, domyślna metoda zwracająca obiekt w czytelnej formie ma zazwyczaj nazwę `__str__`.

In [55]:
class Person():
    def __init__(self, i, n):
        self.imie = i
        self.nazwisko = n
    
    def __str__(self):
        return self.imie.title() + ' ' + self.nazwisko.upper()

p = Person("karol", "zdunczyk")
print(p)

Karol ZDUNCZYK

## Wyrażenia lambda

In [56]:
items = [1, 2, 3, 4, 5]
squared = []
for i in items:
    squared.append(i**2)
print(squared)

[1, 4, 9, 16, 25]

In [57]:
items = [1, 2, 3, 4, 5]

def square(x):
    return x**2

squared = list(map(square, items))
print(squared)

[1, 4, 9, 16, 25]

Wyrażenia lambda nazywane są inaczej funkcjami anonimowymi.

In [58]:
items = [1, 2, 3, 4, 5]
square = lambda x: x**2
squared = list(map(square, items))
print(squared)

[1, 4, 9, 16, 25]

In [59]:
items = [1, 2, 3, 4, 5]
squared = set(map(lambda x: x**2, items))
print(squared)
type(squared)

{1, 4, 9, 16, 25}

set

In [102]:
list(map(lambda x: x.upper(), {'Piotr', 'Marcin'}))

['MARCIN', 'PIOTR']

In [103]:
list(map(lambda x: x.upper(), {'Piotr','ada', 'karol','zee','Marcin'}))

['ADA', 'MARCIN', 'ZEE', 'PIOTR', 'KAROL']

Funkcja anonimowa może mieć kilka argumentów. Wywołaj funkcję `doIt` w celu wykonania dodawania i mnożenia dwóch liczb wykorzystując wyrażenia lambda.

In [121]:
def doIt(operation, a, b):
    print(a)
    print(b)
    return operation(a, b)

doIt(lambda x, y: x+y, 1, 2)
doIt(lambda x, y: x*y, 1, 2)

1
2
1
2

2

### Zadanie

Utwórz strukturę zawierającą unikalne imiona zaczynające się na 'A'. Skorzystaj z funkcji `filter`, która przyjmuje funkcję zwracającą dla danego argumentu prawdę lub fałsz, w zależności czy argument ten spełnia warunki czy też nie.

In [135]:
names = ['Katarzyna', 'Aldona', 'Adam', 'Piotr', 'Małgorzata', 'Aleksandra', 'Anna', 'Zofia', 'Anna', 'Rafał']
l = set(filter(lambda x: x[0]=='A', names))
print(l)

{'Adam', 'Aleksandra', 'Aldona', 'Anna'}

### Zadanie

Znajdź sumę pierwszych 10 liczb. Skorzystaj z funkcji `reduce`. Wskazówka: funkcja lambda przyjmuje jako argument dotychczas wyznaczoną wartość i kolejny element.

In [148]:
from functools import reduce
reduce(lambda x, y: x*y, range(1, 10))
#print(reduce(lambda x, y: x*y, range(1, 10, 1)))

362880

## Sortowanie

Listy w Pythonie mogą być sortowane w miejscu.

In [160]:
names = ['Katarzyna', 'Aldona', 'Adam', 'Piotr', 'Małgorzata', 'Aleksandra', 'Anna', 'Zofia', 'Elżbieta', 'Rafał']
names.sort()
print(names)
names.sort(reverse = True)
print(names)
names.sort(key = lambda x: len(x))
print(names)

['Adam', 'Aldona', 'Aleksandra', 'Anna', 'Elżbieta', 'Katarzyna', 'Małgorzata', 'Piotr', 'Rafał', 'Zofia']
['Zofia', 'Rafał', 'Piotr', 'Małgorzata', 'Katarzyna', 'Elżbieta', 'Anna', 'Aleksandra', 'Aldona', 'Adam']
['Anna', 'Adam', 'Zofia', 'Rafał', 'Piotr', 'Aldona', 'Elżbieta', 'Katarzyna', 'Małgorzata', 'Aleksandra']

Można również wykorzystać funkcję `sorted`, która zwróci nową strukturę.

In [161]:
names = ['Katarzyna', 'Aldona', 'Adam', 'Piotr', 'Małgorzata', 'Aleksandra', 'Anna', 'Zofia', 'Elżbieta', 'Rafał']
sortedNames = sorted(names)
print(names)
print(sortedNames)

['Katarzyna', 'Aldona', 'Adam', 'Piotr', 'Małgorzata', 'Aleksandra', 'Anna', 'Zofia', 'Elżbieta', 'Rafał']
['Adam', 'Aldona', 'Aleksandra', 'Anna', 'Elżbieta', 'Katarzyna', 'Małgorzata', 'Piotr', 'Rafał', 'Zofia']

In [162]:
people = [ { 'name': 'Anna', 'age': 18},  { 'name': 'Rafał', 'age': 20},  { 'name': 'Tomasz', 'age': 34}, { 'name': 'Maja', 'age': 28} ]
sorted(people, key = lambda x: x['age'])

[{'age': 18, 'name': 'Anna'},
 {'age': 20, 'name': 'Rafał'},
 {'age': 28, 'name': 'Maja'},
 {'age': 34, 'name': 'Tomasz'}]

### Zadanie

Utwórz listę imion osób w kolejności od najstarszej do najmłodszej. Lista ma zawierać wyłącznie imiona.

In [168]:
list(map(lambda x:x['name'], sorted(people, key = lambda x: x['age'],reverse = True)))

['Tomasz', 'Maja', 'Rafał', 'Anna']

In [169]:
set(map(lambda x:x['name'], sorted(people, key = lambda x: x['age'],reverse = True)))

{'Anna', 'Maja', 'Rafał', 'Tomasz'}

### Zadanie

Wykorzystując listę obiektów Car utwórz listę aut od najmniejszego przebiegu do największego.

In [170]:
class Car:
    def __init__(self, name, mileage):
        self.name = name
        self.mileage = mileage
    def __str__(self):
        return self.name + ' (' + str(self.mileage) + ')'
    
cars = [ Car('Tico', 10010), Car('Audi', 20000), Car('Skoda', 54000), Car('Polonez', 6700)]
for c in cars:
    print(str(c))

Tico (10010)
Audi (20000)
Skoda (54000)
Polonez (6700)

Rozszerz klasę Car o metodę `__lt__(self, inner)` i wykorzystaj `sorted` bez żadnych dodatkowych argumentów.

In [176]:
class Car:
    def __init__(self, name, mileage):
        self.name = name
        self.mileage = mileage
    def __lt__(self, inner):
        return self.mileage < inner.mileage
    def __str__(self):
        return self.name + ' (' + str(self.mileage) + ')'
    
cars = [ Car('Tico', 10010), Car('Audi', 20000), Car('Skoda', 54000), Car('Polonez', 6700)]
#cars = sorted(cars, key = lambda x: x.mileage)
cars = sorted(cars)
for c in cars:
    print(str(c))

Polonez (6700)
Tico (10010)
Audi (20000)
Skoda (54000)